@import model.AuctionDAO;

<!DOCTYPE html>
<html lang="en">

@headerBar{

}



    @**Probably best to make this two pages - but for now**@

@if(AuctionDAO.find.query().fetch("active",Integer.toString(1)) != null){

<div class="container">
    <div class="panel-group">
        <div class="panel panel-default">
            <form method="post" action="@routes.DollarLuxuryHomeController.dollarLuxuryLoadAuction()">

                <div class="panel-heading"><h1></h1>


                </div>
                <div class="panel-body">
                    <label for="auctionId">Auction number:</label>
                    <input type="text"  class="form-control" id="auctionId" readonly>
                    <br>
                    <div><p><strong>Watch the video below to find out more about the product you're bidding on</strong></p>

                    </div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="@session.get("auctionVideo")" allowfullscreen ></iframe>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-block text-nowrap">
                            <p>Click <a href="@session.get("auctionSpecs")" target="_auction_specs">here</a> to read about the products specifcations.</p>
                        </div>
                    </div>
                    @*** Hidden data to pass into the form - not need to be displayed as this is a preview of the auction **@
                    <div hidden>
                        <input type="text" rows="" class="form-control" id="auctionTitle" name="auctionTitle" value=" @session.get("auctionheading")">
                        <input type="text" rows="" class="form-control" name="auctionVid" id="auctionVid" value=" @session.get("auctionVideo")">
                        <input type="text" rows="" class="form-control" name="auctionSpecURL"id="auctionSpecURL" value=" @session.get("auctionLocation")">
                    </div>

                    <div><label for="auctionLoc">Item location : </label>
                        <input type="text" rows="" class="form-control" id="auctionLoc" name="auctionLoc" value=" @session.get("auctionLocation")"></div>
                    <div>

                    <div><label for="auctionLive">Current money injected into auction : </label>
                        <input type="text" rows="" class="form-control" id="auctionCurrentPoolOfFunds" name="auctionCurrentPoolOfFunds" value=" @session.get("auctionCurrentPoolOfFunds")">
                    </div>

                </div>
                <div class="panel-footer">
                    <label for="bidAmount">Please enter your bid (Whole dollars only)</label>
                    <input type="number" name="quantity" class="form-control" min="1" max="999" readonly>
                    <br>
                    <input type="" value="Example of bid button" button type="button" class="btn btn-primary btn-block">
                    <input type="submit" value="Make auction active (not shown in live auction)" button type="button" class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
    </div>
</div>
    @}else{

        }
    }

</html>