<!DOCTYPE html>
<html lang="en">
@headerBar{

}

<button>Collapsible</button>

<div id="demo" class="collapse">
Lorem ipsum dolor text....
</div>

        <div class="row" id="row1">
            <div class ="col-md-4" style="background-color: #31b0d5">
                <button data-toggle="collapse" data-target="#cusDetails">Collapsible</button>

                <div id="demo" class="collapse">
Lorem ipsum dolor text....
                </div>

                <div id="cusDetails" class="collapse">
                    <p>My details</p>


                        <div class="form-group col-md-4">

                            <label for="firstName">First name:</label>
                            <input type="text" class="form-control " id="firstName" value="@session.get("firstName")">


                            <label for="lastName">Last name:</label>
                            <input type="text" class="form-control" id="lastName">

                            <label for="phone">Phone:</label>
                            <input type="tel" class="form-control" id="phone">

                            <label for="email">Email address:</label>
                            <input type="email" class="form-control " id="email">


                            <label for="address1">Address line 1:</label>
                            <input type="text" class="form-control" id="address1">

                            <label for="address2">Address line 2:</label>
                            <input type="text" class="form-control " id="address2">

                            <label for="city">City:</label>
                            <input type="text" class="form-control " id="city">

                            <label for="country">Country:</label>
                            <input type="text" class="form-control " id="country">

                            <label for="postCode">Postcode:</label>
                            <input type="text" class="form-control " id="postCode">


                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd">

                        <div class="checkbox">
                            <label><input type="checkbox"> Remember me</label>
                        </div>
                        <button type="button" class="btn btn-default">Submit</button>
                        </div>


                </div>

            </div>

            <div class ="col-md-8" style="background-color: indianred">
                <div class="container">
                <p>Current auction</p>
                </div>
            </div>
        </div>

    <div class="row" id="row2">
    <div class="col-6 col-md-4" style="background-color: red">
        <div class="container">
        <p>Stats 1</p></div>
    </div>
        <div class="col-6 col-md-4" style="background-color: pink">
            <div class="container">
            <p>Stats 2</p></div>
        </div>
        <div class="col-6 col-md-4" style="background-color: deepskyblue">
            <div class="container">
            <p>3</p></div>
        </div>
    </div>

  
    <div class="row" id="row3">
        <div class="col-6 col-md-4" style="background-color: red">
            <div class="container">
            <p>Stats 4</p></div>
        </div>
        <div class="col-6 col-md-4" style="background-color: pink">
            <div class="container">
            <p>Stats 5</p></div>
        </div>
        <div class="col-6 col-md-4" style="background-color: deepskyblue">
            <div class="container">
            <p>bidding info and bid button</p></div>
        </div>
    </div>

</body>
</html>