@import model.Customer
@import helper._
<!DOCTYPE html>
<html lang="en">



@headerBar{

}

<script type="text/javascript" src="@routes.JsController.javascriptRoutes()"></script>
<script src="@routes.Assets.versioned("javascripts/findCustomersAddressDetails.js")"></script>
<script src="@routes.Assets.versioned("javascripts/findCustomersPostalAddressDetails.js")"></script>
<script src="@routes.Assets.versioned("javascripts/findCustomersPersonalDetails.js")"></script>
<script src="@routes.Assets.versioned("javascripts/confirm_password2.js")"></script>
<script src="@routes.Assets.versioned("javascripts/dashboard_update_address.js")"></script>
<script src="@routes.Assets.versioned("javascripts/dashboard_update.js")"></script>


        <div class="row" id="row1">

            <div class ="col-md-4" style="background-color: #31b0d5">


                                <ul class="nav nav-pills nav-stacked  form-group">

                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user "></span> Edit user details
                                            <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a data-toggle="modal" href="#myPersonalDetails" id="myPersonalDetailsClick">My personal details</a></li>
                                            <li><a data-toggle="modal" href="#myHomeAddressDetails" id="myHomeAddressDetailsClick">My home address details</a></li>
                                            <li><a data-toggle="modal" href="#myPostalAddressDetails" id="myPostalAddressDetailsClick" onclick="">My postal address details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Menu 2</a></li>
                                    <li><a href="#">Menu 3</a></li>
                                </ul>


                        <div class="checkbox">
                            <label><input type="checkbox"> Remember me</label>
                        </div>
                        <button type="button" class="btn btn-default">Submit</button>
                       </div>



            <div class ="col-md-8" style="background-color: indianred">
                <div class="container">
                <p>Current auction</p>
                </div>
            </div>
        </div>

    <div class="row" id="row2">
    <div class="col-6 col-md-4" style="background-color: red">
        <div class="container">
        <p>Stats 1</p></div>
    </div>
        <div class="col-6 col-md-4" style="background-color: pink">
            <div class="container">
            <p>Stats 2</p></div>
        </div>
        <div class="col-6 col-md-4" style="background-color: deepskyblue">
            <div class="container">
            <p>3</p></div>
        </div>
    </div>

  
    <div class="row" id="row3">
        <div class="col-6 col-md-4" style="background-color: red">
            <div class="container">
            <p>Stats 4</p></div>
        </div>
        <div class="col-6 col-md-4" style="background-color: pink">
            <div class="container">
            <p>Stats 5</p></div>
        </div>
        <div class="col-6 col-md-4" style="background-color: deepskyblue">
            <div class="container">
            <p>bidding info and bid button</p></div>
        </div>
    </div>

    <!-- Pop up Modals - for changing details outside of above layout/required structure-->
    <!-- Modal content- for changing address details-->

    <div class="modal fade" id="myHomeAddressDetails" role="dialog">
        <div class="modal-dialog">
                <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit my address details</h4>
                </div>
                    <div class="modal-body">
                        <form method="" name="" id="">
                            <div class="form-group">
                                @CSRF.formField
                            <label for="address1">Address line 1:</label>
                            <input type="text" class="form-control" id="address1" name="address1" >

                            <label for="address2">Address line 2:</label>
                            <input type="text" class="form-control " id="address2">

                            <label for="city">City:</label>
                            <input type="text" class="form-control " id="city">

                            <label for="country">Country:</label>
                            <input type="text" class="form-control " id="country">

                            <label for="postCode">Postcode:</label>
                            <input type="text" class="form-control " id="postCode">

                            <input type="hidden" class="form-control " id="customerEmail" value="@session.get("email")">

                            <input type="hidden" class="form-control" id="customerNumber" value="@session.get("customerNumber")">

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">

                            <div class="form-group">

                                <button type="button" class="btn btn-default" id="submitBtn" name="submitBtn" onclick="submitUpdatesAddress()">
                                                                Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


    <!-- Modal content- for changing personal details-->
<div class="modal fade" id="myPersonalDetails" role="dialog">
    <div class="modal-dialog">
            <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit my personal details</h4>
            </div>
            <form action="">
            <div class="modal-body">
                <div class="form-group">
                    <label for="firstNameDashboard">First name:</label>
                    <input type="text" class="form-control " id="firstNameDashboard" name="firstNameDashboard" value="@session.get("firstName")">


                    <label for="lastNameDashboard">Last name:</label>
                    <input type="text" class="form-control" id="lastNameDashboard" name="lastNameDashboard" value="@session.get("lastName")">
                    <div class="checkbox">
                    <label for="phone"><input type="checkbox" id="checkBoxPhone">Phone:</label>
                    <input type="tel" class="form-control" value="" id="phone" name="phone" disabled="true">

                    <label for="email"><input type="checkbox" id="checkBoxEmail" name="checkBoxEmail">Email address:</label>
                    <input type="email" class="form-control " value="@session.get("email")" id="emailFromDashboard" name="emailFromDashboard" disabled="true" onblur="ChangeUserEmail()">

                    <label for="pwd"><input type="checkbox" id="checkBoxPwd" name="checkBoxPwd">Change Password:</label>
                    <input type="password" class="form-control" id="pwd" name="pwd" disabled="true">

                    <label for="pwdConfirmed">Confirm Changed Password:</label>
                    <input type="password" class="form-control" id="pwdConfirmed" name="pwdConfirmed" disabled="true">
                    </div>
                </div>
            </div>
            </form>
                <div class="modal-footer">

                <div class="form-group">

                    <button type="button" class="btn btn-default" id="submitBtnPersonalDetails" name="submitBtnPersonalDetails" onclick="submitPersonalAndPasswordUpdates()" >
                                                                Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
    </div>

</div>
    </div>
</div>

    <!-- Modal content- for changing postal details-->
<div class="modal fade" id="myPostalAddressDetails" role="dialog">
    <div class="modal-dialog">
            <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit my postal address details</h4>
            </div>
            <div class="modal-body">
                <form method="" name="">
                    <div class="form-group">
                        @CSRF.formField
                    <label for="address1">Address line 1:</label>
                    <input type="text" class="form-control" id="address1Postal" name="address1Postal">

                    <label for="address2">Address line 2:</label>
                    <input type="text" class="form-control " id="address2Postal">

                    <label for="city">City:</label>
                    <input type="text" class="form-control " id="cityPostal">

                    <label for="country">Country:</label>
                    <input type="text" class="form-control " id="countryPostal">

                    <label for="postCode">Postcode:</label>
                    <input type="text" class="form-control " id="postCodePostal">

                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <div class="form-group">

                    <button type="button" class="btn btn-default" id="submitBtnAddress" name="submitBtnAddress" onclick="submitUpdatesAddresss()">
                                                                Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>

    </div>
</div>

</body>
</html>