<!DOCTYPE html>
<html lang="en">
@headerBar{

}

<div class="container text-center">
    <h2>To the auction winner....</h2>
    <p>Watch this video to find out the features of our current auction</p>
    <div class="embed-responsive embed-responsive-16by9 center-block">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HuXbM0kaD7k"></iframe>
    </div>
</div>




<div class="container">
    <div class="page-header text-center">
        <h1>Dollar Luxury current auction</h1>
    </div>

</div>



    <div class="container">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading"><p> Car heading</p>
        <p>Auction number: <input type="number" class="form-control" readonly></p>
    </div>
    <div class="panel-body">Car pic goes in here

    </div>
    <div class="panel-footer">
        <input type="number" name="quantity" class="form-control" min="1" max="999">
        <br>
        <input type="submit" value="Bid" button type="button" class="btn btn-primary btn-block"></div>
  </div>
</div>
</div>

</html>