<!DOCTYPE html>
<html lang="en">
@headerBar{

}
<head>

</head>

<body>

        <div class="row">
            <div class ="col-md-4" style="background-color: #31b0d5">
                <p>My details</p>

            </div>

            <div class ="col-md-8" style="background-color: indianred">
                <p>Current auction</p>

            </div>
        </div>

    <div class="row">
    <div class="col-6 col-md-4" style="background-color: red"><p>Stats 1</p></div>
        <div class="col-6 col-md-4" style="background-color: pink"><p>Stats 2</p></div>
        <div class="col-6 col-md-4" style="background-color: deepskyblue"><p>3</p></div>
    </div>

    <div class="row">
        <div class ="col-md-4" style="background-color: #31b0d5">
            <p>My details</p>

        </div>

        <div class ="col-md-8" style="background-color: indianred">
            <p>Current auction</p>

        </div>
    </div>

    <div class="row">
        <div class="col-6 col-md-4" style="background-color: red"><p>Stats 4</p></div>
        <div class="col-6 col-md-4" style="background-color: pink"><p>Stats 5</p></div>
        <div class="col-6 col-md-4" style="background-color: deepskyblue"><p>bidding info and bid button</p></div>
    </div>

</body>
</html>