@import model.AuctionDAO
@session().get("auction")
<!DOCTYPE html>
<html lang="en">



@headerBar{

}





















<div class="container">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>@session.get("auctionheading")</h1>
                <p>Auction number: <input type="number" class="form-control" readonly></p>
            </div>
            <div class="panel-body">
                <div>public String current_auction_sales_video;</div>
                <div>public String urlfor_current_auction_specs;</div>
                <div>public String urlfor_current_auction_image;</div>
                <div>public String current_auction_item_location;</div>
                <div>public int current_auction_reserve_price;</div>
                <div>public int current_auction_total_bids;</div>
            </div>
            <div class="panel-footer">
                <input type="number" name="quantity" class="form-control" min="1" max="999">
                <br>
                <input type="submit" value="Bid" button type="button" class="btn btn-primary btn-block"></div>
        </div>
    </div>
</div>

</body>
</html>