@(content: Html)
@import helper._


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dollar Luxury Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/confirm_password.js")"></script>







</head>


    <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId            : '311623609267600',
                    autoLogAppEvents : true,
                    xfbml            : true,
                    version          : 'v2.10'
                });
                FB.AppEvents.logPageView();
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    </script>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Dollar Luxury</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="@routes.HomeController.index()">Home Of Bargains</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">How Our Auctions Work</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a data-toggle="modal" href="#myModalSignUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a data-toggle="modal" href="#myModalLogin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>


    @*************************Modal for signup pop up*@
    <div class="container">

        <!-- Modal -->
    <div class="modal fade" id="myModalSignUp" role="dialog">
        <div class="modal-dialog">

                <!-- Modal content-->

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sign up</h4>
                </div>

                <div class="col-md-6">

                <div class="modal-body">
                    <form method="post"   name="signupForm" id="signupForm">
                    <div class="form-group">
                        @CSRF.formField
                        <label for="fname">First Name:</label>
                        <input type="text" class="form-control" id="firstName" name="firstName"
                        data-fv-notempty="false">

                        <label for="lname">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" name="lastName">

                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email">

                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password">

                        <label for="confirm_password">Confirm Password:</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password">

                    </div>
                    </form>
                </div>

            </div>
                    <!-- Split the one Modal into two seections, this section is for using facebook to login-->
                <div class="col-md-6">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="fbook">Or, Signup with Facebook:</label>
                            <br>
                            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
                        </div>
                    </div>

                </div>


                <div class="modal-footer">
                    <div class="col-md-12">

                        <div class="form-group">

                    <button type="button" class="btn btn-default" id="submitBtn" name="submitBtn" onclick="validatePassword()">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

    </div>



    @***************************Modal for Login pop up*@
    <div class="container">

            <!-- Modal -->
        <div class="modal fade" id="myModalLogin" role="dialog">
            <div class="modal-dialog">

                    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="col-md-6">
                        <div class="modal-body">
                            <form method="post" action="@routes.FacebookLoginController.collectFacebookData()">
                            <div class="form-group">
                                @CSRF.formField
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email">

                                <label for="passwordLI">Password:</label>
                                <input type="passwordLI" class="form-control" id="passwordLI" name="passwordLI">
                            </div>
                        </div>

                    </div>
                        <!-- Split the one Modal into two seections, this section is for using facebook to login-->
                    <div class="col-md-6">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="fbook">Or, login with Facebook:</label>
                                <br>
                                <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
                            </div>
                        </div>

                    </div>


                    <div class="modal-footer">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-default">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>

            </div>

    </div>
    </div>



</body>
</html>