@(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dollar Luxury Home</title>

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-reboot.min.css")">

</head>
<body>
    @content
    <p></p>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to Dollar Luxury Version 1</h1>
            <p>We are the business for the people! </p>
        </div>
        <p>Where would you like to go today?</p>

    </div>

    <script src="@routes.Assets.versioned("javascripts/bootstrap.js")" type="text/javascript"></script>
</body>
</html>